# Compilation units
*.out
*.gch
*ppm
*.o

# Binaries
bin/
*.so
*.a

# Package files
*.deb

# CMake
Makefile
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Python
__pycache__/
*.pyc
pixl.egg-info/

# KDE
.directory

# Editos/IDEs
.vscode/